.header {
    background-color: #F5F5F5;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    background-color: #005DFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding-left: 5px;
    cursor: pointer;
}

.icon a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.icon__line {
    height: 1px;
    background-color: white;
}

.icon__line--short {
    width: 5px;
}

.icon__line--medium {
    width: 10px;
}

.icon__line--long {
    width: 25px;
}

.header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #005DFF;
    text-decoration: none;
}

.header_filters {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    padding: 12px 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    margin-left: 50px;
}

.filter-wrapper {
    position: relative;
    display: inline-block;
}

.filter_area,
.filter_genre {
    padding: 8px;
    font-size: 14px;
    border: none;
    border-right: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 100px;
    padding-right: 30px;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #ccc;
    opacity: 0.7;
    pointer-events: none;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: white;
    width: 350px;
}

.search-icon {
    width: 16px;
    height: 16px;
    background: url('/image/magnifying-glass-icon.png') no-repeat center;
    background-size: contain;
    opacity: 0.7;
}

.filter_search {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 4px 10px;
    background-color: transparent;
    color: black;
}

.filter_search::placeholder {
    color: #aaa;
    opacity: 1;
}

.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    width: 100%;
    padding-top: 50px;
}

.login__form {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: -500px;
    border-radius: 8px;
    padding: 0;
}

.login__form-title {
    background-color: #005DFF;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 30px;
    margin: 0;
    text-align: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.login__form-group {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 35px;
    gap: 10px;
    width: 100%;
}

.login__label {
    font-size: 20px;
    color: #666;
    margin-top: 10px;
    white-space: nowrap;
}

.login__icon {
    width: 30px;
    height: 30px;
    color: #666;
}

.login__input {
    width: 350px;
    border: none;
    border-bottom: 2px solid #888;
    outline: none;
    font-size: 20px;
    padding: 8px;
    background-color: transparent;
    color: black;
    transition: border-color 0.3s;
    margin-top: 5px;
}

.login__input:focus {
    border-bottom: 1.8px solid #005DFF;
}

.login__button {
    padding: 5px 20px;
    background-color: #005DFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    align-self: flex-end;
    margin: 20px 30px;
}

.login__button:hover {
    background-color: #004BB5;
}