/* ログインフォームを中央に配置するためのコンテナ */
.register__container {
    display: flex;
    justify-content: center;
    /* 水平方向に中央揃え */
    align-items: center;
    /* 垂直方向に中央揃え */
    min-height: 100vh;
    background-color: #f5f5f5;
    width: 100%;
    /* 画面幅全体を使用して中央配置を維持 */
    padding-top: 50px;
    /* 上部の余白 */
}

/* ログインフォームのスタイル */
.register__form {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: -500px;
    border-radius: 8px;
    /* すべての角を丸く */
    padding: 0;
}

/* フォームタイトルのスタイル */
.register__form-title {
    background-color: #005DFF;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 30px;
    margin: 0;
    text-align: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* フォームグループのスタイル */
.register__form-group {
    display: flex;
    align-items: center;
    /* アイコンとラベルを縦に中央揃え */
    padding: 10px 0;
    padding-left: 35px;
    /* 左の余白 */
    gap: 10px;
    /* アイコンとテキストの間の余白 */
    width: 100%;
}

/* ラベルのスタイル */
.register__label {
    font-size: 20px;
    color: #666;
    margin-top: 10px;
    white-space: nowrap;
}

/* アイコンのスタイル */
.register__icon {
    width: 30px;
    height: 30px;
    color: #666;
}

/* 入力フィールドのスタイル */
.register__input {
    width: 350px;
    border: none;
    border-bottom: 2px solid #888;
    outline: none;
    font-size: 20px;
    padding: 8px;
    background-color: transparent;
    color: black;
    transition: border-color 0.3s;
    margin-top: 5px;
}

.register__input:focus {
    border-bottom: 1.8px solid #005DFF;
}

/* ボタンのスタイル */
.register__button {
    padding: 5px 20px;
    background-color: #005DFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    align-self: flex-end;
    margin: 20px 30px;
}

.register__button:hover {
    background-color: #004BB5;
}