.done__content {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100vh;
}

/* メッセージボックスのスタイル */
.done__message-box {
    background-color: #fff;
    padding: 80px 60px;
    /* 内側の余白をさらに増やす */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    /* 最大幅を600pxに設定 */
    height: 300px;
    /* 高さを300pxに設定 */
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* メッセージのスタイル */
.done__message {
    font-size: 24px;
    /* フォントサイズを大きく */
    font-weight: bold;
    /* 太字にする */
    color: #333;
    margin: 0;
    line-height: 1.5;
    /* 行間を広くする */
    margin-bottom: 20px;
    /* ボタンとの余白を調整 */
    font-family: 'Noto Sans JP', sans-serif;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #005DFF;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #0041CC;
}
/* Stripeカード入力欄を整える */
.stripe-input {
    border: 1px solid #ccc;
    /* 枠線を追加 */
    padding: 10px;
    /* 内側の余白 */
    border-radius: 8px;
    /* 角丸 */
    font-size: 16px;
    /* 文字サイズ */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    /* 影をつける */
    background-color: #fff;
    /* 背景色 */
    margin-bottom: 15px;
    /* 下側の余白 */
    width: 100%;
    /* 幅を最大にする */
    max-width: 400px;
    /* 最大幅を指定 */
}

/* 決済ボタンのデザイン */
.stripe-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.stripe-button:hover {
    background-color: #0056b3;
}

.stripe-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
@media (min-width: 600px) and (max-width: 768px) {
    .done__message-box {
        width: 70%;
        /* タブレット用に横幅を縮小 */
        max-width: 400px;
        /* 必要に応じて最大幅を設定 */
    }
}

@media (max-width: 768px) {
    .done__message-box {
        padding: 50px 10px;
        /* モバイル用に余白を調整 */
        width: 80%;
        height: 200px;
        /* 画面幅に合わせる */
    }

    .done__message {
        font-size: 15px;
        /* フォントを少し小さく */
    }

    .done__button {
        font-size: 10px;
        /* ボタンの文字サイズを調整 */
        padding: 8px 15px;
        /* ボタンのタッチ範囲を確保 */
    }
}