body {
    background-color: #F5F5F5;
}
.page_content {
    background-color: #F5F5F5;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        /* カードのレスポンシブ対応 */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    /* 中央揃え */
    padding-bottom: 30px;
}


@media (max-width: 768px) {
    .page_content {
        grid-template-columns: repeat(2, 1fr);
        /* 2列表示に変更 */
        padding: 10px;
    }
}

