body {
    background-color: #F5F5F5;
    /* ページ全体の背景色を #F5F5F5 にする */
    margin: 0;
    /* 余白をなくす */
}
.header_filters {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    /* フィルターフォームを右に寄せる */
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* アイコンとフィルターフォームを左右に配置 */
    width: 100%;
}

.header_left {
    display: flex;
    align-items: center;
}

.filter {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter_area,
.filter_genre,
.filter_search {
    padding: 8px;
    font-size: 14px;
}

.filter_search {
    width: 200px;
}
/* コンテナ全体のスタイル */
.restaurant__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 30px;
}

.page_content {
    background-color: #F5F5F5;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4列に設定 */
    gap: 20px;
    /* カード間のスペース */
    width: 100%;
    max-width: 1200px;
    /* 最大幅を設定 */
    margin: 0 auto;
    /* 中央揃え */
    padding-bottom: 30px;
}
