.thanks__content {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100vh;
}

/* メッセージボックスのスタイル */
.thanks__message-box {
    background-color: #fff;
    padding: 80px 60px;
    /* 内側の余白をさらに増やす */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    /* 最大幅を600pxに設定 */
    height: 300px;
    /* 高さを300pxに設定 */
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* メッセージのスタイル */
.thanks__message {
    font-size: 24px;
    /* フォントサイズを大きく */
    font-weight: bold;
    /* 太字にする */
    color: #333;
    margin: 0;
    line-height: 1.5;
    /* 行間を広くする */
    margin-bottom: 45px;
        /* ボタンとの余白を調整 */
    font-family: 'Noto Sans JP', sans-serif;
}

/* ボタンのスタイル */
.thanks__button {
    background-color: #005DFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    /* ボタンの内側の余白を増やす */
    font-size: 12px;
    /* ボタンのフォントサイズを大きく */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.thanks__button:hover {
    background-color: #003bb5;
}
@media (min-width: 600px) and (max-width: 768px) {
    .thanks__message-box {
        width: 70%;
        /* タブレット用に横幅を縮小 */
        max-width: 400px;
        /* 必要に応じて最大幅を設定 */
    }
}

@media (max-width: 768px) {
    .thanks__message-box {
        padding: 50px 10px;
        /* モバイル用に余白を調整 */
        width: 80%;
        height: 200px;
        /* 画面幅に合わせる */
    }

    .thanks__message {
        font-size: 15px;
        /* フォントを少し小さく */
    }

    .thanks__button {
        font-size: 10px;
        /* ボタンの文字サイズを調整 */
        padding: 8px 15px;
        /* ボタンのタッチ範囲を確保 */
    }
}
